<div class="container-fluid" ng-controller="eventsController">
	
	<!--Header row-->
	<div class="row center header" id="header">
		<h1>{{ title }}</h1>
	</div>

	<!--Gallery row-->
	<div>
        <h3>The Gallery</h3>
            <div class="slides-container" style="position: relative; top: 0px; left: 0px; width: 720px; height: 480px;">
                <!-- Slides Container -->
                <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 720px; height: 480px;">
                    <div ng-repeat='imageFilename in images' enable-jssor jssor-options="basicUsageOptions" jssor-trigger="{{$last}}">
                        <img u="image" 
                        	ng-if="imageFilename" 
                        	img ng-src="src/img/{{eventPath}}/{{imageFilename}}" 
                        	err-src="http://google.com/favicon.ico"/>
                    </div>
                </div>
            </div>
    </div>

	<!--Story row-->
	<div>
		<h3>The Story</h3>
	</div>

	<!--Testimonials row-->
	<div>
		<h3>Testimonials</h3>
		<div>
			<testimonial testimonial-object="testimonial" ng-repeat="testimonial in testimonials"></testimonial>
		</div>
	</div>

	<!--Vendors row-->
	<div>
		<h3>Vendors</h3>
		<div>
			<vendor class="angular-with-newlines" vendor-object="vendor" ng-repeat="vendor in vendors"></vendor>
		</div>
	</div>

	<!--Footer row-->
	<div>
		<h3>The Footer</h3>
	</div>

</div>